@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: $primary-background;
    color: $primary-color;
    padding: 0;
    font-family: "Mulish", sans-serif;

    .container__content {
        max-width: 1006px;
        height: 100%;
        background-color: $background-content;
        margin: 40px 0;
        border-radius: 10px;
        padding: 0;

        .title {
            font-size: 18px;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .profile {
            padding: 30px 40px;
            margin: 0 auto;

            .profile__left {
                padding-right: 10px !important;

                .profile__content {
                    background-color: #1f2744;
                    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.13);
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 20px 20px 25px;

                    img {
                        object-fit: cover;
                        margin-bottom: 20px;
                        user-select: none;
                    }

                    .profile__name {
                        font-weight: 600;
                        font-style: normal;
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                }
            }

            .account-details {
                padding-left: 10px !important;
            }
        }

        .communication-details {
            background: #172038;
            box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.13);
            border-radius: 5px;
            padding: 20px;
            margin-top: 20px;
        }

        .address {
            background: #172038;
            box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.13);
            border-radius: 5px;
            padding: 10px;
            margin-top: 20px;

            .col__left {
                flex-basis: 50%;
            }

            .col__right {
                flex-basis: 50%;
            }
        }

        .footer {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .footer__question {
                font-weight: bold;
            }

            .footer__accept {
                margin-top: 5px;
                display: flex;
                align-items: center;

                .message__accept {
                    padding-left: 10px;
                }
            }

            .footer__button {
                display: flex;
                align-items: center;
                margin-top: 20px;

                .btn__save-change {
                    background-color: #42aff9;
                    border-radius: 5px;
                    color: #fff;
                    height: 40px;
                    border: unset;
                    outline: unset;
                }

                .btn__cancel {
                    color: #fff;
                    background-color: #f94263;
                    height: 40px;
                    border: unset;
                    outline: unset;
                    min-width: 110px;
                    margin-left: 20px;
                }
            }
        }
    }
}

@media screen and ($lg) {
    .container {
        font-size: 16px;

        .container__content {
            margin: 40px 0;
            width: calc(100% - 40px);

            .title {
                font-size: 16px;
            }

            .profile {
                padding: 30px 20px;
                margin: 0 auto;

                .profile__left {
                    padding: 0 !important;
                    .profile__content {
                        padding: 20px 20px 25px;

                        img {
                            width: 120px;
                            height: 120px;
                            margin-bottom: 10px;
                        }

                        .profile__name {
                            font-size: 16px;
                            margin-bottom: 6px;
                        }
                    }
                }

                .account-details {
                    margin: 15px;
                    width: calc(100% - 30px);
                    padding-left: 0 !important;
                }
            }

            .communication-details {
                padding: 15px;
                align-items: center;
            }

            .address {
                padding: 15px;
                flex-wrap: wrap;

                .col__left {
                    padding: 0;
                    flex-basis: 100%;
                }

                .col__right {
                    padding: 0;
                    flex-basis: 100%;
                }
            }

            .footer {
                .footer__button {
                    .btn__save-change {
                        height: 40px;
                        font-size: 16px;
                    }

                    .btn__cancel {
                        min-width: 100px;
                        margin-left: 10px;
                        height: 40px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media screen and ($md) {
    .container {
        font-size: 14px;

        .container__content {
            margin: 40px 0;
            width: calc(100% - 40px);

            .title {
                font-size: 14px;
            }

            .profile {
                padding: 30px 20px;
                margin: 0 auto;

                .profile__content {
                    padding: 20px 20px 25px;

                    img {
                        width: 120px;
                        height: 120px;
                        margin-bottom: 10px;
                    }

                    .profile__name {
                        font-size: 16px;
                        margin-bottom: 6px;
                    }
                }
            }

            .communication-details {
                padding: 15px;
                align-items: center;
            }

            .account-details {
                margin: 15px;
                width: calc(100% - 30px);
            }

            .address {
                padding: 15px;
                flex-wrap: wrap;

                .col__left {
                    padding: 0;
                    flex-basis: 100%;
                }

                .col__right {
                    padding: 0;
                    flex-basis: 100%;
                }
            }

            .footer {
                .footer__button {
                    .btn__save-change {
                        height: 40px;
                        font-size: 14px;
                    }

                    .btn__cancel {
                        min-width: 100px;
                        margin-left: 10px;
                        height: 40px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media screen and ($sm) {
    .container {
        font-size: 12px;

        .container__content {
            margin: 20px 0;
            width: calc(100% - 40px);

            .title {
                font-size: 14px;
            }

            .profile {
                padding: 10px;
                margin: 0 auto;

                .profile__content {
                    padding: 10px 10px 15px;

                    img {
                        width: 120px;
                        height: 120px;
                        margin-bottom: 10px;
                    }

                    .profile__name {
                        font-size: 16px;
                        margin-bottom: 6px;
                    }
                }
            }

            .communication-details {
                padding: 15px;
            }

            .account-details {
                margin: 15px;
                width: calc(100% - 30px);
            }

            .address {
                padding: 15px;
                flex-wrap: wrap;

                .col__left {
                    padding: 0;
                    flex-basis: 100%;
                }

                .col__right {
                    padding: 0;
                    flex-basis: 100%;
                }
            }

            .footer {
                .footer__button {
                    .btn__save-change {
                        height: 36px;
                        font-size: 12px;
                    }

                    .btn__cancel {
                        min-width: 80px;
                        margin-left: 10px;
                        height: 36px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
